/* alert message container */
.jIMojv {
	left: 24px !important;
}

/* screen sharing error */
.atlaskit-portal-container .gCocoh {
	background-color: var(--red);
}

/* screen sharing error text */
.atlaskit-portal-container .jFmWzq,
.atlaskit-portal-container .DdnJG,
.atlaskit-portal-container .gmTwkP,
.atlaskit-portal-container .fNNJJt,
.atlaskit-portal-container .eJrykB {
	color: white;
}

/* incoming enquiry */
#knocking-participant-list {
	z-index: 999;
	background-color: var(--white);
	color: var(--primary-grey);
	top: 120px;
	border: none;
}

#knocking-participant-list ul {
	padding-right: 0;
}

#knocking-participant-list .title {
	background-color: var(--grey-3);
	border-radius: 8px 8px 0 0;
}

#knocking-participant-list button.primary {
	border-radius: 24px;
	background-color: var(--primary-red);
	color: var(--white);
	padding: 8px 12px;
	margin-right: 0;
}

#knocking-participant-list .avatar {
	height: 36px !important;
	width: 36px !important;
}

#knocking-participant-list .avatar text {
	fill: var(--white);
}

#knocking-participant-list button.borderLess {
	color: var(--primary-red);
}

#knocking-participant-list button:hover {
	transform: none;
}