:root {
  --primary: #5a2572;
  --primary-dark: #3A2673;
  --red: #ff0000;
  --red-dark: #a10000;
  --primary-grey: #3f373f;
  --white: #fff;
  --success: #4FCC5C;
  --success-dark: #41A94C;
  --grey-1: #524B52;
  --grey-2: #8c878c;
  --grey-3: #dcd9dc;
}