$color1: #5a2572;
$color2: #3a2673;

$colorWhite: #ffffff;
$colorBlack: #000000;

$colorGrey1: #3f373f;
$colorGrey2: #524B52;
$colorGrey3: #8c878c;
$colorGrey4: #dcd9dc;

$tabColor: $colorGrey1;
$tabColorSelected: $color2;
$tabSelectedLine: $color2;

$labelColor: rgba(0,0,0,.6);

$btnPrimaryBg: $color1;
$btnPrimaryBgHover: $color2;
$btnPrimaryBorder: $color1;
$btnPrimaryBorderHover: $color2;
$btnPrimaryColor: $colorWhite;
$btnPrimaryColorHover: $colorWhite;

$btnSecondaryBg: $colorWhite;
$btnSecondaryBgHover: $colorWhite;
$btnSecondaryBorder: $color1;
$btnSecondaryBorderHover: $color2;
$btnSecondaryColor: $color1;
$btnSecondaryColorHover: $color2;

$linkColor: $color1;
$linkColorHover: $color2;

$toolbarBg: #f2f0f9;

$toolbarHangUpBg: $color1;
$toolbarHangUpBgHover: $color2;
