$colorRed1: #cc1e1c;
$colorRed2: #a31816;

$colorWhite: #ffffff;
$colorBlack: #000000;

$colorGrey1: #3f373f;
$colorGrey2: #524B52;
$colorGrey3: #8c878c;
$colorGrey4: #dcd9dc;

$tabColor: $colorGrey1;
$tabColorSelected: $colorRed2;
$tabSelectedLine: $colorRed2;

$labelColor: rgba(0,0,0,.6);

$btnPrimaryBg: $colorRed1;
$btnPrimaryBgHover: $colorRed2;
$btnPrimaryBorder: $colorRed1;
$btnPrimaryBorderHover: $colorRed2;
$btnPrimaryColor: $colorWhite;
$btnPrimaryColorHover: $colorWhite;

$btnSecondaryBg: $colorWhite;
$btnSecondaryBgHover: $colorWhite;
$btnSecondaryBorder: $colorRed1;
$btnSecondaryBorderHover: $colorRed2;
$btnSecondaryColor: $colorRed1;
$btnSecondaryColorHover: $colorRed2;

$linkColor: $colorRed1;
$linkColorHover: $colorRed2;
