:root {
  --primary-red: #cc1e1c;
  --primary-red-dark: #a31816;
  --primary-grey: #3f373f;
  --white: #fff;
  --success: #4FCC5C;
  --success-dark: #41A94C;
  --grey-1: #524B52;
  --grey-2: #8c878c;
}