div[role="dialog"] {
  header {
    #modal-header-close-button {
      background: none;

      svg {
        fill: $colorGrey3;
      }

      &:hover {
        background: none;

        svg {
          fill: $colorGrey1;
        }
      }
    }
  }
}
