#e2ee-banner {
  position: fixed;
  top: 32px;
  right: 32px;
  margin: 0 auto;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  transition: right 1s ease-in-out;
}

@media screen and (min-width: 500px) {
  #e2ee-banner {
    right: 150px;
  }
}

#e2ee-banner svg {
  fill: white;
}

#e2ee-banner .e2ee-banner__icon-filled {
  display: none;
  filter: drop-shadow(0 0 15px #000000);
}

#e2ee-banner .e2ee-banner__icon-outline {
  display: block;
  filter: drop-shadow(0 0 15px #000000);
}

#e2ee-banner:hover .text {
  display: flex;
}

#e2ee-banner:hover .e2ee-banner__icon-filled {
  display: block;
}

#e2ee-banner:hover .e2ee-banner__icon-outline {
  display: none;
}

#e2ee-banner .text {
  display: none;
  min-height: 16px;
  line-height: 16px;
  padding: 10px;
  background: white;
  color: black;
  position: absolute;
  top: calc(100% + 12px);
  right: -10px;
  width: 168px;
  max-width: 256px;
  border-radius: 4px;
  filter: drop-shadow(0 0 15px #00000066);
}

@media screen and (min-width: 500px) {
  #e2ee-banner .text {
    right: unset;
    left: 50%;
    transform: translateX(-50%);
  }
}

#e2ee-banner .text::before {
  content: "";
  display: block;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  position: absolute;
  top: -18px;
  right: 2px;
  transform: translateX(-50%);
}

@media screen and (min-width: 500px) {
  #e2ee-banner .text::before {
    right: unset;
    left: 50%;
  }
}
