.vertical-filmstrip .filmstrip.reduce-height {
	width: 220px;
	padding: 0;
}

.vertical-filmstrip .filmstrip.reduce-height[style] {
	max-width: none !important;
}

.vertical-filmstrip .filmstrip {
	transition: none;
}

.vertical-filmstrip .filmstrip .filmstrip__videos#remoteVideos {
	margin-top: 120px;
	margin-bottom: 24px;
}

.vertical-filmstrip .filmstrip #filmstripLocalVideo {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 128px;
}

.vertical-filmstrip .filmstrip #filmstripLocalVideo #localDisplayName {
	display: none;
}

.display-name-on-black video#localVideo_container {
	opacity: 1;
}

#localVideoContainer .videocontainer__background {
	display: none;
}

#filmstripLocalVideoThumbnail .videocontainer.display-avatar-only {
	background-color: black !important;
}

.vertical-filmstrip .filmstrip #filmstripRemoteVideos {
	margin-bottom: 116px;
}

/* disable icon to show/hide filmstripes */
.vertical-filmstrip .filmstrip__toolbar {
	display: none;
}

.filmstrip__videos .videocontainer,
.filmstrip__videos .videocontainer:hover:not(.videoContainerFocused):not(.active-speaker) {
	border: none;
}

.filmstrip__videos .videocontainer.videoContainerFocused {
	border: none;		
	box-shadow: none;
}

.vertical-filmstrip .filmstrip #filmstripRemoteVideos #filmstripRemoteVideosContainer .videocontainer {
	margin-bottom: 4px;
}

/* Icons on filmstripe */
.vertical-filmstrip .filmstrip__videos .videocontainer .remote-video-menu-trigger svg,
.vertical-filmstrip .filmstrip__videos .videocontainer .indicator-container svg {
	height: 16px;
	width: 16px;
}

/* popup menu */
.vertical-filmstrip .popover .popupmenu {
	background-color: var(--grey-1);
	width: 220px;
}

/* disable "grant to moderator menu item */
.vertical-filmstrip .popover .popupmenu .popupmenu__item:nth-of-type(3) {
	display: none;
}

/* replace muted/camera-off icon */
.indicator-icon-container.audioMuted.toolbar-icon svg,
.indicator-icon-container.videoMuted.toolbar-icon svg {
	display: none;
}

.indicator-icon-container.audioMuted.toolbar-icon .jitsi-icon,
.indicator-icon-container.videoMuted.toolbar-icon .jitsi-icon {
	width: 13px;
	height: 13px;
	background-repeat: no-repeat;
	background-size: 13px 13px;
	background-position: center center;
}

.indicator-icon-container.audioMuted.toolbar-icon .jitsi-icon {
	background-image: url("../images/icons/audio-off.svg");
}

.indicator-icon-container.videoMuted.toolbar-icon .jitsi-icon {
	background-image: url("../images/icons/camera-off.svg");
}

.videocontainer__toolbar .indicator-container,
.videocontainer__toptoolbar .indicator-container {
	margin-right: 4px;
}

.vertical-filmstrip .filmstrip__videos .videocontainer .remote-video-menu-trigger {
	margin-bottom: 10px;
	margin-left: 6px;
}