@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/roboto-v18-latin-regular.eot?#iefix');
	src: url('../fonts/roboto-v18-latin-regular.eot?#iefix') format('eot'),
		url('../fonts/roboto-v18-latin-regular.woff2') format('woff2'),
		url('../fonts/roboto-v18-latin-regular.woff') format('woff'),
		url('../fonts/roboto-v18-latin-regular.ttf') format('truetype'),
		url('../fonts/roboto-v18-latin-regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/roboto-v18-latin-500.eot?#iefix');
	src: url('../fonts/roboto-v18-latin-500.eot?#iefix') format('eot'),
		url('../fonts/roboto-v18-latin-500.woff2') format('woff2'),
		url('../fonts/roboto-v18-latin-500.woff') format('woff'),
		url('../fonts/roboto-v18-latin-500.ttf') format('truetype'),
		url('../fonts/roboto-v18-latin-500.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}