.customHeader {
	position: fixed;
	top: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 96px;
	width: 100%;
	padding: 0 24px;
	box-sizing: border-box;
	background-color: white;
	z-index: 400;
}

.customHeader .title,
.customHeader .claim {
	color: #3f373f;
	width: 100%;
	text-align: center;
}

.customHeader .title {
	font-family: "Roboto-Medium",sans-serif;
	font-size: 30px;
	font-weight: 500;
}

.customHeader .claim {
	font-size: 16px;
	margin-top: -24px;
}

@media screen and (min-width: 500px) {
	.customHeader .title,
	.customHeader .claim {
		width: auto;
		text-align: left;
		margin: 0;
	}
}