#notification-participant-list {
  top: 120px;
  left: 24px;

  #knocking-participant-list {
    background: $colorWhite;
    color: $colorGrey1;

    ul {
      padding-right: 0;
    }

    .title {
      background-color: $colorGrey4;
      border-radius: 8px 8px 0 0;
    }

    button {
      text-transform: uppercase;
      border-radius: $buttonBorderRadius;
      padding: 8px 12px;
      font-weight: 700;

      &.primary {
        background-color: $btnPrimaryBg;
        color: $btnPrimaryColor;
        margin-right: 0;

        &:hover {
          background-color: $btnPrimaryBgHover;
          color: $btnPrimaryColorHover;
        }
      }

      &.borderLess {
        color: $btnSecondaryColor;
        border: 3px solid $btnSecondaryBorder;
        background-color: $btnSecondaryBg;

        &:hover {
          border-color: $btnSecondaryBorderHover;
          background-color: $btnSecondaryBgHover;
          color: $btnSecondaryColorHover;
        }
      }

      &:hover {
        transform: none;
      }
    }

    .avatar {
      height: 36px !important;
      width: 36px !important;

      text {
        fill: $colorWhite;
      }
    }
  }
}

