.premeeting-screen {
	margin-top: 96px;
	background: var(--primary-grey);
}

.premeeting-screen .content input.field {
	border-radius: 24px;
	font-size: 16px;
	line-height: 52px;
	height: 52px;
	border: 1px solid var(--grey-2);
}

.premeeting-screen .content input.field.focused {
	box-shadow: none;
	border: 2px solid var(--primary-grey);
}

.premeeting-screen .action-btn.primary {
	width: 320px;
	background-color: var(--success);
	border: none;
	padding: 14px 0;
	font-family: "Roboto-Medium",sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 24px;
	transition: background .6s ease;
}

.premeeting-screen .action-btn.primary:hover {
	background-color: var(--success-dark);
}

.premeeting-screen .settings-button-container .settings-button-small-icon {
	display: block;
}

.premeeting-screen .video-preview-container {
	background-color: var(--primary-grey);
}

.premeeting-screen .audio-preview-content {
	background-color: var(--primary-grey);
}

.premeeting-screen .audio-preview-entry--selected {
	background-color: var(--grey-1);
}

.premeeting-screen .audio-preview-entry:hover,
.premeeting-screen .audio-preview-speaker:hover .audio-preview-entry,
.audio-preview-microphone:hover .audio-preview-entry {
	background-color: var(--grey-1);
}

.premeeting-screen .audio-preview-header-icon svg path {
	fill: white;
}

.premeeting-screen .jitsi-icon.metr>svg {
	fill: var(--grey-2);
}

.premeeting-screen .settings-button-container .toolbox-icon svg {
	display: none;
}

.premeeting-screen .audio-preview .settings-button-container .toolbox-icon,
.premeeting-screen .video-preview .settings-button-container .toolbox-icon {
	background-size: 20px 20px;
	background-position: center;
	background-repeat: no-repeat;
}

.premeeting-screen .audio-preview .settings-button-container .toolbox-icon.toggled,
.premeeting-screen .video-preview .settings-button-container .toolbox-icon.toggled {
	background-color: var(--grey-1);
	border-color: var(--grey-1);
}

.premeeting-screen .audio-preview .settings-button-container .toolbox-icon {
	background-image: url("../images/icons/audio-on-grey.svg");
}

.premeeting-screen .audio-preview .settings-button-container .toolbox-icon.toggled {
	background-image: url("../images/icons/audio-off.svg");
}

.premeeting-screen .video-preview .settings-button-container .toolbox-icon {
	background-image: url("../images/icons/camera-on-grey.svg");
}

.premeeting-screen .video-preview .settings-button-container .toolbox-icon.toggled {
	background-image: url("../images/icons/camera-off.svg");
}

.premeeting-screen .media-btn-container {
	margin-bottom: 40px;
}

.premeeting-screen-avatar.avatar[style] {
    position: absolute;
	top: calc(50% - 96px);
	left: calc(50% - 96px);
    transform: translateY(-100px);
	height: 200px !important;
	width: 200px !important;
}

.premeeting-screen-avatar text {
	fill: rgba(255, 255, 255, 0.5);
	font-size: 53px;
}

/* options on join button */
.premeeting-screen .action-btn .options {
	display: none;
}

/* checkbox to never show prejoin page */
.prejoin-checkbox-container {
	display: none;
}

.prejoin-preview-status--ok {
	background-color: var(--success);
}