/* settings container */
.Modal__PositionerAbsolute-sc-1jmnqyd-1 {
	top: 50% !important;
	transform: translateY(-185px);
}

/* settings window */
.eoRGoR {
	background-color: var(--primary-grey) !important;
}

/* overlay behind settings window */
.tlylZ {
	background-color: rgba(101, 95, 101, 0.85) !important;
	backdrop-filter: blur(5px);
}

/* settings headline */
.jUctfm {
	color: white;
	padding-left: 7px;
}

/*navigation bar */
.ybfvp {
	background-color: var(--grey-1) !important;
}

/* active navigation item underline */
.bHNyBH {
	background-color: white !important;
}

/* navigation item active */
.iqNwPx {
	color:rgba(255, 255, 255, 1) !important;
}

/* navigation item disabled */
.oQiLZ {
	color: rgba(255, 255, 255, 0.7) !important;
}

/* dropdown labels */
.settings-pane .device-selector-label {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.7);
}

/* dropdown field */
.settings-pane .device-selection .device-selectors .device-selector-trigger {
	background-color: var(--grey-1);
	border: none;
	margin-bottom: 8px;
	color: white;
}

/* dropdown overlay container */
.settings-pane .caSnlw > div[style] {
	top: -12px !important;
}

/* dropdown overlay */
.settings-pane .cksvax[style] {
	width: 245px !important;
	border: none !important;
	background-color: var(--grey-1);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

/* dropdown overlay field */
.settings-pane .hWFSra:hover {
	background-color: var(--grey-2);
}

/* dropdown overlay text */
.settings-pane .jAdcTq {
	color: white;
}

/* hide e-mail input field */
.settings-pane .profile-edit .profile-edit-field:nth-of-type(2) {
	display: none;
}

/* audio input background */
.settings-dialog .device-selection .audio-input-preview {
	background-color: var(--grey-1);
}

/* audio input bar */
.settings-dialog .device-selection .audio-input-preview .audio-input-preview-level {
	background-color: var(--success);
}