.new-toolbox .toolbox-content .button-group-center {
	display: flex;
	width: auto;
	padding: 8px 0 8px 4px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 100px;
}

/* small settings button underneath audio and video button */
.settings-button-container .settings-button-small-icon {
	display: none;
}

/* expand the toolbar on the left to make room for the share button icon and screen sharing icon */
.new-toolbox .toolbox-content .button-group-center {
	padding-left: 128px;
}

.new-toolbox .toolbox-content .button-group-center > div {
	height: 40px;
	width: 40px;
	margin-right: 16px;
	margin-left: 0;
}

.audio-preview,
.video-preview {
	display: flex;
	align-items: center;
	justify-content: center;
}

.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(2) .toolbox-icon,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon.toggled,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon.toggled {
	border: none;
	background-size: 24px 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon.toggled,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon.toggled,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon.toggled:hover,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon.toggled:hover {
	background-color: transparent;
}

.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon:hover,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon:hover {
	background-color: transparent;
	border: none;
}

/* mute button */
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) {
	order: 3;
}

.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon {
	background-image: url("../images/icons/audio-on.svg");
}

.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon.toggled {
	background-image: url("../images/icons/audio-off.svg");
}

/* camera on/off button */
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) {
	order: 2;
}

.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon {
	background-image: url("../images/icons/camera-on.svg");
}

.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon.toggled {
	background-image: url("../images/icons/camera-off.svg");
}

/* end call button */
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(2) {
	order: 1;
}

.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(2) .toolbox-icon {
	height: 40px;
	width: 40px;
	background-color: var(--primary-red);
	border: none;
	background-image: url("../images/icons/call-off.svg");
	transition: all .6s ease;
	margin: 0;
}

.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(2) .toolbox-icon:hover {
	background-color: var(--primary-red-dark);
	border: none;
}

.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(1) .toolbox-icon svg,
.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(2) .toolbox-icon svg,
.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(3) .toolbox-icon svg,
.button-group-right > .toolbox-button .toolbox-icon .jitsi-icon svg {
	display: none;
}

/* toggle tiles mode */
.button-group-right > .toolbox-button .toolbox-icon,
.button-group-right > .toolbox-button .toolbox-icon:hover,
.button-group-right > .toolbox-button .toolbox-icon.toggled {
	background-image: url("../images/icons/view.svg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

.new-toolbox .toolbox-content .toolbox-icon.toggled, .new-toolbox .toolbox-content .toolbox-icon:hover {
	background-color: rgba(255,255,255,.15);
}

.new-toolbox .toolbox-content .button-group-right {
	align-items: center;
}

/* settings menu button */
.new-toolbox .CvzNc {
	background-color: var(--primary-grey);
}

.new-toolbox .toolbox-content .overflow-menu .overflow-menu-item {
	color: white !important;
}

.new-toolbox .toolbox-content .overflow-menu .overflow-menu-item:hover {
	background-color: var(--grey-1);
}

.new-toolbox .toolbox-content .overflow-menu .overflow-menu-item-icon svg {
	fill: white !important;
}

/* screen sharing button */
.new-toolbox .toolbox-content .button-group-left > div:first-child {
	position: absolute;
	left: 50%;
	bottom: 28px;
	height: 40px;
	width: 40px;
	transform: translateX(-80px);
	margin: 0;
}

.new-toolbox .toolbox-content .button-group-left > div:first-child .toolbox-icon:hover {
	background-color: transparent;
}

/* share URL button */
button.shareUrlButton {
	position: absolute;
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	font-size: 16px;
	color: var(--white);
	z-index: 500;
	cursor: pointer;
}

button.shareUrlButton::before {
	content: '';
	display: inline-block;
	height: 16px;
	width: 16px;
	margin-right: 8px;
	background-image: url("../images/icons/link.svg");
	background-size: 16px 16px;
	background-repeat: no-repeat;
	background-position: center center;
}

.prejoin-screen .shareUrlButton {
	bottom: 72px;
	left: 24px;
}

.prejoin-screen .shareUrlButton--copied::before {
	background-image: url("../images/icons/checkmark.svg");
}

.videocall-screen .shareUrlButton {
	left: 50%;
	bottom: 28px;
	transform: translateX(-132px);
	font-size: 0;
	padding: 0;
}

.videocall-screen .shareUrlButton::before {
	height: 40px;
	width: 40px;
	background-size: 20px 20px;
	margin-right: 0;
}

.videocall-screen .shareUrlButton--copied::after {
	content: 'Video-Link wurde in die Zwischenablage kopiert';
	display: inline-block;
	position: absolute;
	font-size: 14px;
	line-height: 19px;
	bottom: 56px;
	width: 168px;
	background-color: rgba(0,0,0,0.5);
	text-align: left;
	padding: 12px 8px;
	border-radius: 4px;
	cursor: auto;
}

@media only screen and (max-width: 500px) {
	.new-toolbox .toolbox-content .button-group-center .toolbox-button .toolbox-icon, .new-toolbox .toolbox-content .button-group-left .toolbox-button .toolbox-icon, .new-toolbox .toolbox-content .button-group-right .toolbox-button .toolbox-icon {
		height: 40px;
		width: 40px;
	}

	/* adjust spacing of toolbox for small viewport */
	.new-toolbox .toolbox-content .button-group-center > div {
		margin-right: 8px;
	}

	.new-toolbox .toolbox-content .button-group-center {
		padding-left: 104px;
	}

	/* screen sharing button */
	.new-toolbox .toolbox-content .button-group-left > div:first-child {
		transform: translateX(-70px);
	}

	.videocall-screen .shareUrlButton {
		transform: translateX(-112px);
	}
}

@media only screen and (max-width: 700px) {
	.new-toolbox .toolbox-content .button-group-center .toolbox-button .toolbox-icon, .new-toolbox .toolbox-content .button-group-left .toolbox-button .toolbox-icon, .new-toolbox .toolbox-content .button-group-right .toolbox-button .toolbox-icon {
		height: 40px;
		width: 40px;
	}

	.new-toolbox .toolbox-content .button-group-center .toolbox-button .toolbox-icon svg, .new-toolbox .toolbox-content .button-group-left .toolbox-button .toolbox-icon svg, .new-toolbox .toolbox-content .button-group-right .toolbox-button .toolbox-icon svg {
		height: 24px;
		width: 24px;
	}

	/* disable tile view for mobile devices */
	.new-toolbox .toolbox-content .button-group-right .toolbox-button {
		display: none;
	}
}

@media only screen and (max-width: 1024px) {
	.prejoin-screen .shareUrlButton {
		width: 240px;
		bottom: auto;
		top: 120px;
		left: 50%;
		transform: translateX(-120px);
		justify-content: center;
	}
}