#new-toolbox {
  .share-url-button {
    /* custom share URL button */
    button.shareUrlButton {
      padding: 0;
      display: flex;
      align-items: center;
      background-color: transparent;
      border: none;
      font-size: 0;
      color: #ffffff;
      z-index: 500;
      cursor: pointer;

      &::before {
        content: "";
        display: inline-block;
        height: 22px;
        width: 48px;
        background-image: url("../images/custom/icons/link.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: center;
      }

      & + .shareUrlButton__tooltip {
        display: none;
        position: absolute;
        font-size: 14px;
        line-height: 19px;
        bottom: 70px;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: left;
        padding: 12px 8px;
        border-radius: 4px;
        cursor: auto;
      }

      &--copied + .shareUrlButton__tooltip {
        display: inline-block;
      }
    }
  }
}
