#new-toolbox {
  .toolbox-content-items {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.5);

    .toolbox-icon {
      border-radius: 50%;

      &, &.toggled {
        background: #525252;
      }

      &.hangup-button {
        background-color: $colorRed1;

        &:hover {
          background-color: $colorRed2;
        }
      }
    }

    .share-url-button {
      /* share URL button */
      button.shareUrlButton {
        padding: 0;
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        font-size: 0;
        color: $colorWhite;
        z-index: 500;
        cursor: pointer;

        &::before {
          content: '';
          display: inline-block;
          height: 22px;
          width: 48px;
          background-image: url("../images/caritas/icons/link.svg");
          background-size: 20px 20px;
          background-repeat: no-repeat;
          background-position: center;
        }

        &--copied::after {
          content: 'Video-Link wurde in die Zwischenablage kopiert';
          display: inline-block;
          position: absolute;
          font-size: 14px;
          line-height: 19px;
          bottom: 70px;
          background-color: rgba(0,0,0,0.5);
          text-align: left;
          padding: 12px 8px;
          border-radius: 4px;
          cursor: auto;
        }
      }
    }
  }
}

.premeeting-screen {
  #new-toolbox {
    .toolbox-content-items {
      .toolbox-icon {
        &, &.toggled {
          background: #525252;
        }

        &:hover {
          background: #535353;
        }
      }
    }
  }
}
