.new-toolbox .toolbox-content .button-group-center {
	display: flex;
	width: auto;
	padding: 8px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 100px;
}

/* small settings button underneath audio and video button */
.settings-button-container .settings-button-small-icon {
	display: none;
}

.audio-preview,
.video-preview {
	display: flex;
	align-items: center;
	justify-content: center;
}

.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(2) .toolbox-icon,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon.toggled,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon.toggled {
	border: none;
	background-size: 22px 22px;
	background-position: center;
	background-repeat: no-repeat;
}

.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon.toggled,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon.toggled,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon.toggled:hover,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon.toggled:hover {
	background-color: transparent;
}

.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon:hover,
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon:hover {
	background-color: transparent;
	border: none;
}

/* mute button */
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon {
	background-image: url("../images/icons/audio-on.svg");
}

.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(1) .toolbox-icon.toggled {
	background-image: url("../images/icons/audio-off.svg");
}

/* camera on/off button */
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon {
	background-image: url("../images/icons/camera-on.svg");
}

.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(3) .toolbox-icon.toggled {
	background-image: url("../images/icons/camera-off.svg");
}

/* end call button */
.new-toolbox .toolbox-content .button-group-center > div:nth-of-type(2) {
	order: 3;
}

.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(2) .toolbox-icon {
	height: 40px;
	width: 40px;
	background-color: var(--primary);
	border-color: var(--primary);
	background-image: url("../images/icons/call-off.svg");
	transition: all .6s ease;
}

.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(2) .toolbox-icon:hover {
	background-color: var(--primary-dark);
	border-color: var(--primary-dark);
}

.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(1) .toolbox-icon svg,
.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(2) .toolbox-icon svg,
.new-toolbox .toolbox-content .button-group-center .toolbox-button:nth-child(3) .toolbox-icon svg,
.button-group-right > .toolbox-button .toolbox-icon .jitsi-icon svg {
	display: none;
}

/* toggle tiles mode */

.button-group-right > .toolbox-button .toolbox-icon,
.button-group-right > .toolbox-button .toolbox-icon:hover,
.button-group-right > .toolbox-button .toolbox-icon.toggled {
	background-image: url("../images/icons/view.svg");
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
}

.new-toolbox .toolbox-content .toolbox-icon.toggled, .new-toolbox .toolbox-content .toolbox-icon:hover {
	background-color: rgba(255,255,255,.15);
}