$buttonBorderRadius: 0px;
$inputBorderRadius: $buttonBorderRadius;

$toolboxIconButtonBorderRadius: $buttonBorderRadius;
$toolboxBorderRadius: $buttonBorderRadius;

$font1: Arial,sans-serif;
$font2: $font1;
