@import url("_fonts.css");
@import url("_header.css");
@import url("_toolbar.css");

body.desktop-browser {
	font-family: "Roboto-Regular",sans-serif !important;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}

/*================================================================================
active video call screen
================================================================================ */
.subject-text {
	font-size: 20px;
}

.subject-conference-timer {
	opacity: 1;
	font-size: 14px;
	margin-top: 2px;
}

.participants-count {
	display: none;
}

.connection-indicator {
	display: none;
}


/*================================================================================
Screen when camera is off
================================================================================ */
.defaultAvatar {
	opacity: 1;
}

.avatar {
	background-color: #524B52;
}

.videocontainer {
	background-color: #3F373F !important;
}