@import url("_colors.css");
@import url("_fonts.css");
@import url("_header.css");
@import url("_toolbar.css");
@import url("_prejoin.css");
@import url("_filmstrip-view.css");
@import url("_tiles-view.css");

body.desktop-browser {
	font-family: "Roboto-Regular",sans-serif !important;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}

#videospace {
	top: 96px;
	min-height: auto;
	height: calc(100% - 96px);
}

.subject {
	height: 100px;
	background-image: linear-gradient(to bottom,rgba(0,0,0,0.8),rgba(0,0,0,0));
}

.new-toolbox .toolbox-background {
	height: 150px;
	background-image: linear-gradient(to top,rgba(0,0,0, 0.8),rgba(0,0,0,0));
}

/*================================================================================
active video call screen
================================================================================ */

/* microphone volume indicator */
.videocontainer>.audioindicator-container span.audiodot-bottom::after, .videocontainer>.audioindicator-container span.audiodot-middle::after, .videocontainer>.audioindicator-container span.audiodot-top::after, .videocontainer>span.audioindicator span.audiodot-bottom::after, .videocontainer>span.audioindicator span.audiodot-middle::after, .videocontainer>span.audioindicator span.audiodot-top::after {
	background: var(--success);
}

.subject-text {
	display: none;
}

.subject-conference-timer {
	opacity: 1;
	font-size: 14px;
}

.participants-count {
	display: none;
}

.connection-indicator {
	display: none;
}


/*================================================================================
Screen when camera is off
================================================================================ */
.defaultAvatar {
	opacity: 1;
}

.avatar[style] {
	background-color: var(--grey-1) !important;
}

.videocontainer {
	background-color: var(--black) !important;
}