@import url("_colors.css");
@import url("_fonts.css");
@import url("_header.css");
@import "toolbar";
@import url("_lobby.css");
@import url("_filmstrip-view.css");
@import url("_tiles-view.css");
@import url("_settings.css");
@import url("_alerts.css");
@import url("_securityBanner.css");

body.desktop-browser {
	font-family: "Roboto-Regular",sans-serif !important;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}

#react {
	height: 100%;
	box-sizing: border-box;
}

#videospace {
	box-sizing: border-box;
}

#largeVideoElementsContainer {
    position: absolute;
    top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#largeVideoWrapper[style] {
	position: relative;
	inset: auto !important;
}

.new-toolbox .toolbox-background {
	height: 150px;
	background-image: linear-gradient(to top,rgba(0,0,0, 0.8),rgba(0,0,0,0));
}

/*================================================================================
active video call screen
================================================================================ */

/* microphone volume indicator */
.videocontainer>.audioindicator-container span.audiodot-bottom::after,
.videocontainer>.audioindicator-container span.audiodot-middle::after,
.videocontainer>.audioindicator-container span.audiodot-top::after,
.videocontainer>span.audioindicator span.audiodot-bottom::after,
.videocontainer>span.audioindicator span.audiodot-middle::after,
.videocontainer>span.audioindicator span.audiodot-top::after {
	background: var(--success);
}


.subject {
	/* Completely hidden because it was not visible and overwritten by customHeader */
	display: none !important;
}

.subject-text {
	display: none;
}

.subject-conference-timer {
	opacity: 1;
	font-size: 20px;
	font-family: "Roboto-Medium",sans-serif !important;
	font-weight: 500;
}

.participants-count {
	display: none;
}

.connection-indicator {
	display: none;
}

.videocontainer .displayNameContainer .displayname {
	text-align: left;
	top: 16px;
	left: 8px;
	font-size: 14px;
}

/*================================================================================
Screen when camera is off
================================================================================ */
.defaultAvatar {
	opacity: 1;
}

.avatar[style] {
	background-color: var(--grey-1) !important;
}

.videocontainer {
	background-color: var(--primary-grey) !important;
}
