@import "toolbar";
@import "settings";
@import "premeeting/premeeting-screens";
@import "e2ee-banner";

.subject {
  display: none !important;
}

// Hide the menu to mirror the video (not really useful) and to
// hide the self view (not correctly translated in German)
#local-video-menu-trigger {
  display: none;
}

.watermark {
  width: 140px;
  height: 36px;
  filter: drop-shadow(0 0 15px #000000);
}
