@import "toolbar";
@import "settings";
@import "premeeting/premeeting-screens";

.subject {
  display: none !important;
}

// Hide the menu to mirror the video (not really useful) and to
// hide the self view (not correctly translated in German)
#local-video-menu-trigger {
  display: none;
}

.watermark {
  width: 200px;
  height: 51px;
  filter: drop-shadow(0 0 15px #000000);
  max-width: 200px !important;  // overwrite inline styles
  max-height: 51px !important;  // overwrite inline styles
}
